@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
    width: 100%;
    background-color: #008464;
}

.pad {
    padding: 0;
}

.search-bar {
    margin: 2rem 0;
}

.search-bar .col-md-12 {
    padding: 0;
}

.search-bar-container {
    margin: auto;
}

button {
    margin: 0.3rem;
    color: #008464;
    border-radius: 25px;
}

footer {
    background: #008464;
    padding: 3rem 0rem;
}