<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chinook Database</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="container-fluid pad">
        <header class="header">
            <h1 th:text="${headertext}"></h1>
        </header>
    </div>

    <navigation>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">HOME</a>
            </li>
        </ul>
    </navigation>

    <section class="search-results random">
        <div class="container">
            <div class="row random">
                <div class="col-sm">
                    <table class="table table-striped table-dark">
                        <thead>
                        <tr>
                            <th>Track</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Genre</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="result: ${searchResults}">
                            <td th:text="${result.getTrack()}"></td>
                            <td th:text="${result.getArtist()}"></td>
                            <td th:text="${result.getAlbumName()}"></td>
                            <td th:text="${result.getGenreName()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

</body>
</html>